export("font<-.RGtkObject")
export(.addStockIcons.guiWidgetsToolkitRGtk2)
export(.gaction.guiWidgetsToolkitRGtk2)
export(.galert.guiWidgetsToolkitRGtk2)
export(.gbasicdialog.guiWidgetsToolkitRGtk2)
export(.gbutton.guiWidgetsToolkitRGtk2)
export(.gcalendar.guiWidgetsToolkitRGtk2)
export(.gcheckbox.guiWidgetsToolkitRGtk2)
export(.gcheckboxgroup.guiWidgetsToolkitRGtk2)
export(.gcombobox.guiWidgetsToolkitRGtk2)
export(.gconfirm.guiWidgetsToolkitRGtk2)
export(.gedit.guiWidgetsToolkitRGtk2)
export(.getStockIconByName.guiWidgetsToolkitRGtk2)
export(.getStockIcons.guiWidgetsToolkitRGtk2)
export(.gexpandgroup.guiWidgetsToolkitRGtk2)
export(.gfile.guiWidgetsToolkitRGtk2)
export(.gfilebrowse.guiWidgetsToolkitRGtk2)
export(.gframe.guiWidgetsToolkitRGtk2)
export(.ggraphics.guiWidgetsToolkitRGtk2)
export(.ggroup.guiWidgetsToolkitRGtk2)
export(.gimage.guiWidgetsToolkitRGtk2)
export(.ginput.guiWidgetsToolkitRGtk2)
export(.glabel.guiWidgetsToolkitRGtk2)
export(.glayout.guiWidgetsToolkitRGtk2)
export(.gmessage.guiWidgetsToolkitRGtk2)
export(.gnotebook.guiWidgetsToolkitRGtk2)
export(.gpanedgroup.guiWidgetsToolkitRGtk2)
export(.gradio.guiWidgetsToolkitRGtk2)
export(.gseparator.guiWidgetsToolkitRGtk2)
export(.gslider.guiWidgetsToolkitRGtk2)
export(.gspinbutton.guiWidgetsToolkitRGtk2)
export(.gstackwidget.guiWidgetsToolkitRGtk2)
export(.gstatusbar.guiWidgetsToolkitRGtk2)
export(.gtext.guiWidgetsToolkitRGtk2)
export(.gtimer.guiWidgetsToolkitRGtk2)
export(.gwindow.guiWidgetsToolkitRGtk2)
export(addToGtkStockIcons)
export(getBlock.RGtkObject)
export(getWidget.RGtkObject)
exportClasses(guiWidgetsToolkitRGtk2)
exportMethods(show)
importClassesFrom(gWidgets2,BasicToolkitInterface)
importClassesFrom(gWidgets2,guiWidgetsToolkit)
